---
---

@import "{{ site.theme }}";

html,
body,
button,
input,
select,
textarea {
    color: #eee;
}

body {
    background-color: #000 !important;
}

pre {
    color: #eee;
    background-color: #333 !important;
    border: 1px solid #333;
    border-radius: 3px;
    border-color: #f00 !important;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #aaa;
    text-decoration: none;
}

a:active,
a:focus {
  color: #aaa;
  text-decoration: none;
}

.markdown-body {
  h1 {
    border-bottom: none;
  }

  h2 {
    border-bottom: none;
  }
}
